<!DOCTYPE html>
<html>
  <head>
    <title>LearnUpon - Technical Assignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-content m-2">
          <strong>Hello, <%= current_user.display_name %>!</strong>
          <div class="float-right">You are logged in. <%= link_to 'Click here to Sign Out', destroy_user_session_path, method: :delete %></div>
        </div>
      </nav>
      <hr>
    <% end %>

    <p id="notice"><%= notice %></p>
    <p class="text-danger"><%= alert %></p>
    <%= yield %>
  </body>
</html>
